/*Blog*/
.center{
    color: black;
  } 
  
  .surl{
    color: black;
    
  }
  
  .ligne::after {
    content: '';
    display: block;
    height: 4px;
    background-color: #0d6efd;
    width: 19%;
    margin-left: 452px;
   
  }
  
  .container mt-5{
    margin-top: 3rem;
    margin-left: 20px;
  }
  
  .row{
    display: flex;
    margin-top: 95px;
    height: 35%;
    
  }

  .btn-primary {
    background-color: #0d6efd;
    color: white;
    width: 130px;
    display: grid;
    text-decoration: none;
    margin-left: 95px;
  }