/* src/Contact.css */
  .coordonees{
    width: 20px;
    height: 20px;
  }
  .imagge{
    background-image: url('/public/img\ bleu.jpeg ');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 