.home {
  background-color: white;
  }
  .home .container {
    padding: 0.5rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  }
  .overlay {
    width: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .bar-container {
    flex: 1;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 15px 10px;
  }
  .progress-bar {
    height: 20px;
    border-radius: 15px;
  }