.serv{
    color: black;
    margin-top: 5px;
    background-color:EEE ;
 
}
.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    gap: 20px;
  }


  .ordi{
    background-repeat: no-repeat;
  }

  

  .bac{
    width: 1352px;
  height: 100px;
  margin-top: -137px;
  margin-left: -103px;
  } 
  .glass{
    margin-left: 175px;
  margin-top: 80px;
  }

  .card2{
    padding: 0px;
    width: 388px;
    text-align: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    height: 400px;
    display: grid;
    
  }

  .service-item:hover .glass { 
    color: #cde1f8;
}