.footer{
  justify-content: space-between;
  text-align: justify;
  /* position: absolute; */

  }
  
  footer {
 
    padding: 20px;
    

  }
  
  footer ul {
    list-style: none; 
    padding: 0; 
  }

  footer a {
    text-decoration: none;
    color: #000;
}
  
  footer li {
    position: relative; 
    padding-left: 20px; 
  }
  
  /* Fleches */
  footer li::before {
    content: '>'; 
    position: absolute;
    left: 0; 
    color: #0d6efd ; 
    font-size: 1em; 
    
  }

  .réseaux{

    display: flex;
    padding: 12px;
    margin-right: 0px;
    margin-top: -15px;
  }
  
  .copyright{
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: block;
  
  }

